.main-cart {
  display: flex;
  gap: 30px;
  color: #394e6a;
}
h1 {
  font-size: 20px;
}
.container {
}
.card {
}
.heading-cart {
}
.outline {
}
.cart {
}
.card {
}
.text-cart {
}
.Amo {
}
.remove {
}
.price {
}
